{% extends "diary/base.html" %}
{% block content %}
<div id="main-container" class="container clearfix">
    <section class="post-left">
        <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » 我是谁？</div>
        <div class="post-main clearfix">
            <h1 class="post-title">我是谁?</h1>
            <div class="post-con clearfix">
                <div class="article-meta">
                    <span class="item">2020年9月9日</span>
                </div>
                <article class="article-content">
                    <p>我是谁</p>
                </article>
            </div>
        </div>
    </section>
    <!-- /post-right -->
    <aside class="post-right hidden-xs">
        </section><!-- /联系方式 -->
        <div class="post-right-item">
            <h4 class="post-right-title">联系方式</h4>
                <p>Phone:18611896669</p>
                <p>Email:me@zhangzhixiong.com</p>
            </div>
        </div>
    </aside>
</div>
{% endblock %}
