{% extends "diary/base.html" %}
{% load diary_tags %}
{% block content %}
<div id="main-container" class="container clearfix">
    <section class="post-left">
        <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <a
            href="{% url "diary:index" %}list-{{ article.category.id }}.html">{{ article.category.name }}</a> »
            <span class="current">正文</div>
        <div class="post-main clearfix">
            <h1 class="post-title">{{ article.title }}</h1>
            <div class="post-con clearfix">
                <div class="article-meta">
                    <span class="item">分类：<a href="{% url "diary:index" %}list-{{ article.category.id }}.html" rel="category tag">{{ article.category.name }}</a></span>
                    <span class="item">{{ article.date|date:"Y月m月d日 周w"|weekchinese }}</span>

                </div>
                <article class="article-content">
                    {{ article.body|safe }}
                </article>
                <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：
                    {% for tag in article.tags.all %}
                        <a href="{% url "diary:index" %}tag/{{ tag }}" rel="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div>
                    <div><b>上一篇：</b>
                        {% if previous_article %}
                            <a href="show-{{ previous_article.id }}.html" class="article-tag">{{ previous_article.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </div>
                    <div><b>下一篇：</b>
                        {% if next_article %}
                            <a href="show-{{ next_article.id }}.html" class="article-tag">{{ next_article.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "diary/right.html" %}
</div>
{% endblock %}
